<div id="contactWrap">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="sectionTitle">Đăng Nhập</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-2">
                    <div class="inputContainer">
                        <label>Tài Khoản</label>
                        <input type="text" name="contactName" id="contactName" value="" class="form-control" autocomplete="off" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="inputContainer">
                        <label class="screen-reader-text">Mật Khẩu</label>
                        <input type="text" name="email" id="email" value="" class="form-control" autocomplete="off" />
                    </div>
                </div>
                <div class="col-sm-8 col-sm-offset-2">
                    <button name="submit" type="button" class="btn btn-primary btn-lg">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>
